<div class="container py-5">

    <div class="text-center container">
        <h3>About</h3>
        <P>Order now and start playing your favourate games</P>
    </div>

    <div class="row container my-5">

        <div class="col">
            <div class="text-center"><img class="card-img-top" src="/static/home.jpeg" style="width: 25%; border-radius: 50%;"></div>
            <h4 class="text-center">Pre-Order</h4>
            <P class="text-center">we offer pre-order service so that you can get your desired GPU</P>
        </div>
        <div class="col">
            <div class="text-center"><img class="card-img-top" src="/static/home.jpeg" style="width: 25%; border-radius: 50%;"></div>
            <h4 class="text-center">Pre-Order</h4>
            <P class="text-center">we offer pre-order service so that you can get your desired GPU</P>
        </div>
        <div class="col">
            <div class="text-center"><img class="card-img-top" src="/static/home.jpeg" style="width: 25%; border-radius: 50%;"></div>
            <h4 class="text-center">Pre-Order</h4>
            <P class="text-center">we offer pre-order service so that you can get your desired GPU</P>
        </div>

    </div>

</div>
