<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h4>About Us</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at dolor sit amet lacus dapibus commodo non eget dolor.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h4>Quick Links</h4>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#">Email: info@example.com</a></li>
            <li><a href="#">Phone: +1 123 456 7890</a></li>
            <li><a href="#">Address: 123 Street, City, Country</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3 bg-dark text-white">
      &copy; 2023 Your Website. All rights reserved.
    </div>
</footer>
